.obsidian-main-container {
	padding-left: 10px;
	align-items: flex-start;
}

.obsidian-main {
	width: 578px;
	height: 100%;
	min-height: 660px;
	padding: 12px 8px;
	overflow: hidden;
	line-height: normal;
}

.obsidian-tab-bar {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.obsidian-tab-container .obsidian-tab-bar {
	justify-content: flex-start;
}

.obsidian-tab,
.obsidian-sub-tab {
	font-family: var(--font-condensed);
	font-weight: bold;
	font-size: 14px;
	color: var(--text-secondary);
	cursor: pointer;
	text-transform: uppercase;
	line-height: 1.4;
}

.obsidian-sub-tab {
	line-height: 1;
	font-size: 12px;
	border-radius: 3px;
	margin: 3px 2px;
	padding: 5px 7px;
	border: 1px solid var(--mid);
}

.obsidian-tab:hover {
	color: var(--text-regular);
}

.obsidian-sub-tab:hover,
.obsidian-sub-tab.active {
	color: var(--text-regular);
	border-color: var(--highlight);
}

.obsidian-tab.active {
	color: var(--text-regular);
	border-bottom: 3px solid var(--highlight);
}

.obsidian-tab-container .obsidian-tab-bar {
	padding: 0 5px;
}

.dnd5e.sheet form .tab.obsidian-tab-contents {
	overflow-y: auto;
	padding: 0 5px;
	text-align: left;
	height: 100%;
	scrollbar-color: transparent rgba(0, 0, 0, .75);
	scrollbar-width: thin;
}

.obsidian-tab-contents::-webkit-scrollbar {
	height: 6px;
}

.obsidian-tab-contents::-webkit-scrollbar-track {
	box-shadow: none;
}

.obsidian-tab-contents::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

.tab[data-tab].active.obsidian-tab-contents {
	display: block;
}

.obsidian-tab-contents > h3,
.npc .obsidian h3 {
	text-transform: uppercase;
	font-family: var(--font-condensed);
	font-size: 13px;
	font-weight: bold;
	color: var(--text-secondary);
	border-bottom: 1px solid var(--mid);
	line-height: 1.4;
	padding-left: 2px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.obsidian-tab-contents h3 i {
	margin-left: 5px;
}

.obsidian-tab-contents h3 a,
.obsidian-char-spell-header a {
	color: var(--text-regular);
	font-size: 10px;
	font-weight: bold;
	font-family: var(--font-condensed);
}

.obsidian-thead,
.obsidian-tr {
	display: flex;
}

.obsidian-thead {
	text-transform: uppercase;
	font-size: 11px;
	font-family: var(--font-condensed);
	padding: 5px 0;
	font-weight: bold;
}

.obsidian-thead .obsidian-col-notes {
	font-size: 11px;
}

.obsidian-tr {
	font-weight: normal;
	align-items: center;
	border-bottom: 1px dotted var(--mid);
	padding: 8px 0;
}

.obsidian-tr:first-child {
	padding-top: 0;
}

.obsidian-tr:last-child {
	border: none;
}

.obsidian .obsidian-tr #context-menu.expand-up {
	bottom: unset;
	top: calc(100% + 2px);
}

.obsidian-col-icon {
	width: 27px;
}

.obsidian-col-action {
	width: 40px;
}

.obsidian-col-icon a {
	font-size: 14px;
}

.obsidian-col-attack {
	width: 140px;
}

.obsidian-col-range,
.obsidian-col-hit {
	width: 50px;
}

.obsidian-col-type {
	width: 30px;
}

.obsidian-col-cost {
	width: 55px;
	display: flex;
}

.obsidian-col-cost i {
	margin-top: -3px;
}

.obsidian-col-damage {
	width: 80px;
}

.obsidian-col-notes {
	flex: 1;
	font-size: 12px;
}

.obsidian-col-spell-notes {
	flex: 1;
	font-size: 10px;
	max-height: 40px;
	overflow-y: hidden;
}

.obsidian-col-spell-notes .obsidian-table-note-text {
	font-size: 10px;
}

.obsidian-col-empty {
	text-align: center;
	color: var(--text-subtle);
	flex: 1;
}

.obsidian-col-spell {
	width: 135px;
}

.obsidian-col-inv-item {
	width: 150px;
}

.obsidian-col-time,
.obsidian-col-qty {
	width: 35px;
}

.obsidian-col-dc {
	width: 45px;
}

.obsidian-col-weight {
	width: 40px;
}

.obsidian-table {
	margin-bottom: 30px;
}

.obsidian-table-text,
.obsidian-table-sub-text,
.obsidian-table-note-text {
	font-family: var(--font-condensed);
}

.obsidian-table-text {
	font-size: 14px;
}

.obsidian-table-sub-text,
.obsidian-table-unit {
	font-size: 10px;
	color: var(--text-subtle);
}

.obsidian-table-sub-text {
	font-weight: normal;
}

.obsidian-table-save {
	font-weight: bold;
	text-transform: uppercase;
	font-family: var(--font);
}

.obsidian-table-number-sm,
.obsidian-table-number-md,
.obsidian-table-number-lg {
	font-weight: bold;
}

.obsidian-table-number-sm {
	font-size: 12px;
}

.obsidian-table-number-md {
	font-size: 14px;
}

.obsidian-table-number-lg {
	font-size: 16px;
}

.obsidian-tooltip {
	display: none;
}

.obsidian-attack-toggle {
	cursor: pointer;
}

.obsidian fieldset {
	border: 1px solid var(--mid);
	margin: 0 0 10px 0;
}

.obsidian fieldset:last-child {
	margin: 0;
}

.obsidian fieldset .obsidian-form-row:last-child {
	margin-bottom: 0;
}

.obsidian legend,
.obsidian legend .checkbox-content {
	font-family: var(--font-condensed);
	font-size: 16px;
	color: var(--text-secondary);
	padding: 0 8px;
}

.obsidian legend .checkbox-content {
	padding: 0;
	text-transform: none;
	font-weight: normal;
}

.obsidian-btn-row {
	margin-top: 4px;
}

.obsidian-form-row.obsidian-btn-row {
	justify-content: flex-end;
}

.obsidian-dmg-component {
	font-size: 13px;
	line-height: 1;
	display: flex;
	align-items: center;
}

.obsidian-table-note-text {
	display: inline;
}

.obsidian-table-note-flex {
	display: inline-flex;
	align-items: center;
}

.obsidian-table-note-text,
.obsidian-table-note-text:after {
	font-size: 12px;
	color: var(--text-subtle);
	font-family: var(--font-condensed);
}

.obsidian-table-note-text:after {
	content: ', ';
}

.obsidian-table-note-text:last-child:after {
	content: '';
}

.obsidian-table-note-text .obsidian-feature-uses {
	display: inline-flex;
	align-items: center;
	margin-left: 5px;
	font-size: 12px;
}

.obsidian-table-note-text .obsidian-feature-use {
	height: 13px;
	width: 13px;
	font-size: 17px;
}

.dnd5e.sheet form .obsidian-table-note-text .obsidian-feature-uses input[type=number].obsidian-input-sheet,
form.obsidian .obsidian-table-note-text .obsidian-feature-uses input[type=number].obsidian-input-sheet {
	font-size: 12px;
	font-family: var(--font-condensed);
	width: 30px;
	padding: 0;
}

.obsidian-table-note-text .obsidian-feature-max {
	font-size: 12px;
	min-width: 30px;
	font-family: var(--font-condensed);
}

.obsidian-table-note-text .obsidian-binary-operator {
	font-size: 12px;
	margin-right: 5px;
}

.obsidian-table-number-split {
	font-weight: normal;
	color: var(--text-secondary);
}

.obsidian-table-number-minor {
	font-weight: normal;
	color: var(--text-subtle);
	font-size: 13px;
}

.obsidian-feature {
	margin-bottom: 17px;
}

.obsidian-feature-header {
	font-size: 13px;
	line-height: 1.2;
	font-family: var(--font-condensed);
	display: flex;
	height: 15px;
	justify-content: space-between;
	align-items: center;
}

.obsidian-feature-header h4 {
	font-weight: bold;
	margin: 0;
}

.obsidian-feature-header i {
	margin-left: 8px;
}

.obsidian-feature-header > div:first-child {
	display: flex;
}

.obsidian-feature-body {
	font-size: 12px;
	font-family: var(--font);
	font-weight: normal;
	text-align: justify;
}

.obsidian-feature-recharge {
	margin-left: 3px;
	font-weight: normal;
	color: var(--text-subtle);
}

h3 > div > .obsidian-feature-recharge {
	margin-left: 0;
	text-transform: none;
}

.obsidian-feature-uses {
	margin-left: 10px;
}

.obsidian-feature-use {
	height: 15px;
	width: 15px;
	border: 2px solid var(--mid);
	border-radius: 3px;
	cursor: pointer;
	display: inline-flex;
	margin-right: 3px;
	align-items: center;
	justify-content: center;
	color: var(--bg);
	font-size: 21px;
	font-family: var(--font);
	font-weight: bold;
}

.obsidian-feature-use.obsidian-feature-positive {
	border-color: var(--positive);
}

.obsidian-feature-used {
	background: var(--mid);
}

.obsidian-feature-used.obsidian-feature-positive {
	background: var(--positive);
}

.obsidian-feature-max {
	font-size: 14px;
	min-width: 40px;
	text-align: center;
	font-family: var(--font);
	display: inline-block;
}

.obsidian .editor,
.obsidian .tox.tox-tinymce {
	min-height: 300px;
}

.npc .obsidian .editor,
.npc .obsidian .tox.tox-tinymce {
	min-height: unset;
	max-height: none;
}

.obsidian-2-pane-window .obsidian .editor,
.obsidian-2-pane-window .obsidian .tox.tox-tinymce {
	min-height: 400px;
	max-height: 100%;
}

.obsidian .tox .tox-toolbar-overlord,
.obsidian .tox .tox-toolbar__primary {
	background: none;
}

.obsidian .tox .tox-tbtn,
.obsidian .tox .tox-tbtn__select-label {
	color: var(--text-secondary);
	cursor: pointer;
}

.obsidian .tox .tox-tbtn__select-label {
	font-family: var(--font-condensed);
	font-size: 14px;
}

.obsidian .tox .tox-tbtn svg {
	fill: var(--text-secondary);
}

.obsidian .tox .tox-tbtn:hover:not(.tox-tbtn--disabled) svg {
	fill: var(--text-regular);
}

.obsidian .tox .tox-tbtn:hover:not(.tox-tbtn--disabled),
.obsidian .tox .tox-tbtn:active:not(.tox-tbtn--disabled),
.obsidian .tox .tox-tbtn:focus:not(.tox-tbtn--disabled) {
	background: transparent;
	color: var(--text-regular);
}

.obsidian .tox-tbtn[title=Save] {
	display: none;
}

.npc .obsidian .tox-tbtn[title=Save] {
	display: flex;
}

.app .obsidian .tox-edit-area {
	border-top: 1px solid var(--mid);
}

.obsidian-na {
	font-size: 14px;
	color: var(--text-secondary);
	font-weight: normal;
}

.obsidian-char-spell-header,
.obsidian-char-inv-header {
	display: flex;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--mid);
	width: 100%;
}

.obsidian-char-spell-header {
	justify-content: center;
	cursor: pointer;
	position: relative;
}

.obsidian-char-spell-header a {
	position: absolute;
	right: 0;
	bottom: 1px;
	text-transform: uppercase;
}

.obsidian-char-inv-header {
	justify-content: space-between;
	align-items: center;
	font-family: var(--font-condensed);
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.obsidian-char-inv-header .obsidian-table-unit {
	text-transform: none;
}

.obsidian-char-spell-header > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-condensed);
	font-weight: bold;
	margin-right: 15px;
}

.obsidian-char-spell-header > div:last-child {
	margin-right: 0;
}

.obsidian-char-spell-header .obsidian-table-number-lg > span:after {
	content : ' / ';
	color: var(--text-secondary);
}

.obsidian-char-spell-header .obsidian-table-number-lg > span:last-child:after {
	content: '';
}

.obsidian-char-spell-header-label {
	font-size: 10px;
	color: var(--text-subtle);
	text-transform: uppercase;
}

.obsidian-char-inv-header-weight {
	text-align: left;
}

.obsidian-char-inv-header-weight > div:first-child > span:first-child {
	font-family: var(--font);
	font-weight: normal;
	margin-left: 5px;
}

.obsidian-char-inv-header-weight > div:last-child {
	font-size: 10px;
	color: var(--text-subtle);
}

.obsidian-char-inv-header-weight > div:last-child.obsidian-negative {
	color: var(--negative);
}

.obsidian-char-inv-header-currency {
	color: var(--text-subtle);
	display: flex;
	align-items: center;
}

.obsidian-char-inv-header-currency-item {
	font-size: 14px;
	display: inline-flex;
	margin-right: 10px;
	color: var(--text-regular);
	align-items: center;
}

.obsidian-char-inv-header-currency-item:first-child {
	margin-left: 10px;
}

.obsidian-char-inv-header-currency-item i {
	margin-right: 3px;
}

.obsidian-char-spell-search,
.obsidian-char-inv-search {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}

.obsidian-input-search-container {
	flex: 1;
	position: relative;
}

.obsidian-compendium .header-search {
	position: relative;
}

.sheet .obsidian-input-search-container {
	margin-right: 8px;
}

.sheet .obsidian-input-search-container:last-child {
	margin-right: 0;
}

.obsidian input.obsidian-input-search,
.dnd5e.sheet form.obsidian input.obsidian-input-search,
.obsidian-compendium .sidebar-tab .directory-header .header-search input {
	color: var(--text-bright);
	background-color: var(--mid);
	border: 1px solid var(--border-subtle);
	border-radius: .25rem;
	height: 34px;
	padding: 6px 34px;
	font-size: 13px;
	line-height: 1.4;
	font-family: var(--font);
	transition: border-color ease-in-out .15s;
	box-shadow: none;
	text-align: left;
	margin-bottom: 0;
}

.obsidian-compendium .sidebar-tab .directory-header .header-search input {
	width: calc(100% - 3px);
	margin-bottom: 10px;
}

.obsidian input.obsidian-input-search:hover,
.dnd5e.sheet form.obsidian input.obsidian-input-search:hover {
	box-shadow: none;
}

.obsidian .obsidian-input-search::placeholder,
.dnd5e.sheet form.obsidian .obsidian-input-search::placeholder,
.obsidian-compendium .sidebar-tab .directory-header .header-search input::placeholder {
	color: var(--text-placeholder);
}

.obsidian input.obsidian-input-search:focus,
.dnd5e.sheet form.obsidian input.obsidian-input-search:focus,
.obsidian-compendium .sidebar-tab .directory-header .header-search input:focus {
	color: var(--text-inverse);
	background-color: var(--light);
	border-color: var(--light);
	outline: none;
}

.obsidian input.obsidian-input-search:focus + i,
.obsidian input.obsidian-input-search:focus + i + span,
.dnd5e.sheet form.obsidian input.obsidian-input-search:focus + i,
.dnd5e.sheet form.obsidian input.obsidian-input-search:focus + i + span,
.obsidian-compendium .header-search input:focus + i,
.obsidian-compendium .header-search input:focus + i + span {
	color: var(--text-inverse);
}

.obsidian-input-search-container > i,
.obsidian-input-search-container > span,
.obsidian-compendium .header-search > i,
.obsidian-compendium .header-search > span {
	display: flex;
	width: 34px;
	height: 34px;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 14px;
	color: var(--text-placeholder);
}

.obsidian-input-search-container > i,
.obsidian-compendium .header-search > i {
	top: 3px;
	left: 2px;
}

.obsidian-input-search-container > span,
.obsidian-compendium .header-search > span {
	top: 2px;
	right: 0;
	cursor: pointer;
}

.obsidian-compendium .header-search > i {
	top: 1px;
}

.obsidian-compendium .header-search > span {
	top: 1px;
}

.obsidian-char-spell-search > button.obsidian-btn-sm.obsidian-btn-sheet {
	margin: 0;
}

.obsidian-spell-level-tab {
	min-width: 36px;
}

.obsidian-spell-level-tab.obsidian-icon-tab {
	min-width: 24px;
	max-height: 24px;
	padding: 2px;
}

.dnd5e.sheet.actor .obsidian .spell-component {
	color: var(--bg);
	background: var(--text-regular);
	font-weight: bold;
	transform: scale(.75);
}

.dnd5e.sheet.actor .obsidian .obsidian-icon-tab .spell-component {
	background: var(--text-secondary);
}

.dnd5e.sheet.actor .obsidian .obsidian-icon-tab:hover .spell-component,
.dnd5e.sheet.actor .obsidian .obsidian-icon-tab.active .spell-component {
	background: var(--text-regular);
}

.obsidian-spell-level-tab.obsidian-active {
	border: 1px solid var(--highlight);
	background: var(--highlight);
	color: var(--bg);
}

.obsidian-spells-slots-pact {
	display: flex;
	justify-content: space-between;
}

.obsidian-spells-slots,
.obsidian-spells-pact {
	display: flex;
}

.obsidian-spells-slots > span,
.obsidian-spells-pact > span {
	margin-left: 5px;
}

.obsidian-rich-text .editor-content {
	font-size: 13px;
}

.obsidian-rich-text .editor-edit {
	border: none;
	background: transparent;
	color: var(--mid);
}

.obsidian-spell-filter .obsidian-tab-bar {
	display: block;
}

.obsidian-spell-filter .obsidian-spell-level-tab {
	display: inline-block;
	text-align: center;
}

.obsidian details > summary {
	position: relative;
	color: var(--text-bright);
	background-color: var(--mid);
	padding: 10px;
	list-style: none;
	cursor: pointer;
	outline: none;
}

.obsidian > details {
	margin-bottom: 10px;
}

.obsidian .obsidian-spell-list details > summary {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 35px 4px 5px;
	border-bottom: 1px solid var(--mid);
	margin-bottom: 5px;
}

.obsidian details[open] > summary {
	border-left: 4px solid var(--highlight);
}

.obsidian .obsidian-spell-list details[open] > summary {
	border-left: none;
}

.obsidian details > summary::-webkit-details-marker {
	display: none;
}

.obsidian summary > h3,
.obsidian summary > div > h3 {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
}

.obsidian-table details > summary {
	padding: 10px 20px 10px 10px;
	height: 37px;
}

.obsidian-table summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.obsidian-table summary > div {
	display: flex;
	align-items: baseline;
}

.obsidian-table summary > div > h3,
.npc .obsidian-table summary > div > h3 {
	text-transform: none;
	color: var(--text-regular);
	border: none;
	line-height: 1;
}

.obsidian-table .obsidian-negative h3 {
	color: var(--negative);
}

.obsidian-table summary > div > .obsidian-details-sub-text {
	font-size: 13px;
	font-family: var(--font);
	color: var(--text-regular);
	font-weight: normal;
	margin-left: 4px;
}

.obsidian-table .obsidian-negative .obsidian-details-sub-text {
	color: var(--negative);
}

.obsidian-table summary > div > .obsidian-table-sub-text {
	margin-left: 4px;
}

.obsidian-table .obsidian-negative .obsidian-table-sub-text {
	color: var(--negative);
}

.obsidian summary > i {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	color: var(--text-subtle);
}

.obsidian-table details:not([open]) + details {
	margin-top: 8px;
}

.obsidian .obsidian-spell-list summary > i {
	font-size: 13px;
	top: 8px;
	right: 15px;
}

.obsidian details[open] > summary > i {
	transform: rotate(180deg);
	color: var(--text-bright);
}

.obsidian-spell-filter {
	padding: 5px;
}

.obsidian .obsidian-spell-filter input.obsidian-input-search {
	margin: 0 0 5px 0;
}

.obsidian-spell-list .obsidian-col-spell {
	width: auto;
	flex: 1;
}

.obsidian-spell-list .obsidian-col-spell .obsidian-table-text {
	font-style: italic;
	font-size: 13px;
	font-weight: normal;
	font-family: var(--font);
	display: inline-block;
}

.obsidian-spell-list .obsidian-col-spell .obsidian-table-sub-text {
	font-size: 13px;
	font-family: var(--font);
	display: inline-block;
}

.obsidian-col-spell .obsidian-css-icon,
.obsidian-col-inv-item .obsidian-css-icon {
	display: inline-block;
}

.obsidian .obsidian-spell-list .obsidian-btn-outline,
.obsidian .obsidian-equip-action.obsidian-btn-outline,
.obsidian .obsidian-btn-compact.obsidian-btn-outline {
	width: 47px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	text-transform: uppercase;
	line-height: 1;
}

.obsidian .obsidian-equip-action.obsidian-btn-outline,
.obsidian .obsidian-btn-compact.obsidian-btn-outline {
	width: 35px;
}

.obsidian-item-card {
	padding: 10px;
	border: 4px solid var(--mid);
	margin-bottom: 15px;
}

.obsidian-form-bare .obsidian-item-card {
	margin:  0;
}

.obsidian-item-card-header {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--mid);
}

.obsidian-item-card-header h3 {
	font-family: var(--font);
	font-size: 13px;
	font-style: italic;
	display: flex;
	justify-content: space-between;
}

.obsidian-item-card-header h4 {
	color: var(--text-subtle);
	margin-top: -5px;
}

.obsidian-item-card-header h3 .obsidian-feature-max {
	font-style: normal;
	font-weight: bold;
}

h3 + .obsidian-item-card-header-row,
h4 + .obsidian-item-card-header-row {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid var(--mid);
}

.obsidian-item-card-header-row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 4px;
}

.obsidian-item-card-header-row:last-child {
	margin-bottom: 0;
}

.obsidian-item-card-header-key {
	font-weight: bold;
	font-size: 13px;
	font-family: var(--font);
	margin-right: 5px;
}

.obsidian-item-card-header-value {
	font-size: 13px;
	font-family: var(--font);
	flex: 1;
}

.obsidian-item-card-header-value .obsidian-table-unit {
	font-size: 10px;
	color: var(--text-subtle);
}

.obsidian-item-card-header-value .obsidian-table-sub-text {
	font-size: 12px;
	font-family: var(--font);
}

.obsidian-spell-card-component {
	display: inline-block;
}

.obsidian-spell-card-component:before {
	content: ', ';
}

.obsidian-spell-card-component:first-child:before {
	content: '';
}

.obsidian .obsidian-item-card input {
	width: 40px;
	font-family: var(--font);
	font-size: 13px;
	border: none;
	display: inline-block;
	margin: 0;
	height: 15px;
}

.obsidian .obsidian-item-card .obsidian-binary-operator {
	font-size: 13px;
}

.obsidian .obsidian-item-card .obsidian-feature-max {
	font-size: 13px;
}

.obsidian-item-card-body {
	font-size: 13px;
}

.obsidian-item-card-body p {
	text-align: justify;
}

.obsidian-item-card-body p:last-child {
	margin-bottom: 0;
}

.obsidian-item-card-sub-header {
	margin-bottom: 10px;
}

.obsidian-item-card-sub-header:last-child {
	margin-bottom: 0;
}

.dialog .obsidian h2 {
	font-family: var(--font);
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--text-secondary);
	border-bottom: 1px solid var(--mid);
}

.obsidian-spell-totals {
	padding: 5px;
	font-family: var(--font-condensed);
	font-size: 14px;
	color: var(--text-regular);
}

.obsidian #context-menu {
	max-width: 100%;
	font-family: var(--font);
	font-size: 13px;
	color: var(--text-regular);
	border: 1px dotted var(--mid);
	border-top: none;
	background: var(--bg);
	border-radius: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.obsidian #context-menu li.context-item {
	line-height: 1;
	padding: 5px;
	cursor: pointer;
	font-weight: normal;
}

.obsidian #context-menu li.context-item i {
	color: var(--text-secondary);
}

.dnd5e.sheet form.obsidian .obsidian-table-input,
form.obsidian .obsidian-table-input {
	font-size: 14px;
	font-family: var(--font);
	font-weight: bold;
	color: var(--text-regular);
	height: auto;
	width: calc(100% - 2px);
	padding: 0;
	margin: 1px 0;
	border: 1px solid transparent;
}

form.obsidian .obsidian-table-input:hover {
	border: 1px solid #111;
	box-shadow: 0 0 8px red;
}

.obsidian-drag-indicator {
	display: none;
	justify-content: space-between;
	font-size: 16px;
	color: var(--text-bright);
	position: fixed;
	pointer-events: none;
}

.obsidian-inv-container.obsidian-container-drop {
	background-color: var(--dark);
}

input[type=checkbox].obsidian-hidden + label.obsidian-inline {
	margin-left: 20px;
}

.obsidian-icon-value {
	display: inline-flex;
	align-items: center;
}

.obsidian-icon-value:after {
	content: ', ';
	margin: 0 2px;
}

.obsidian-icon-value:last-child:after {
	content: '';
}

.obsidian-icon-value i {
	display: block;
}

.dnd5e.sheet form.obsidian .obsidian-table-note-text select {
	background: transparent;
	font-size: 12px;
	color: var(--text-subtle);
	border: none;
	padding: 0;
}

.obsidian-char-grid-row {
	display: flex;
	justify-content: space-between;
	font-family: var(--font);
	font-size: 13px;
	margin-bottom: 10px;
}

.obsidian-char-grid-col {
	width: 20%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}

.obsidian-char-grid-col:first-child {
	width: 25%;
}

.obsidian-char-grid-col:last-child {
	width: 15%;
}

.obsidian-char-grid-col h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 0;
}

.obsidian-dialog-2-col {
	width: 100%;
	display: flex;
}

.obsidian .obsidian-form-row .obsidian-dialog-2-col input {
	max-width: none;
}

#chat-log .obsidian-msg {
	border: 2px solid transparent;
	background: var(--bg);
	color: var(--text-regular);
	font-family: var(--font);
	font-size: 13px;
	position: relative;
}

.obsidian-msg header {
	border-bottom: 1px solid var(--mid);
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.obsidian-msg header h4 {
	text-transform: uppercase;
	color: var(--text-secondary);
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.obsidian-msg header h4 div.obsidian-icon {
	margin-right: 5px;
}

.obsidian-msg header .message-metadata {
	font-size: 11px;
}

.obsidian-msg header time {
	color: var(--text-subtle);
}

.obsidian-msg header .whisper-to {
	font-size: 11px;
	color: var(--text-subtle);
}

.obsidian-msg-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.obsidian-msg-row-dmg {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.obsidian-msg-row-dmg > div:first-child {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

.obsidian-msg-row-dmg > div:first-child.obsidian-msg-wide-box {
	justify-content: center;
}

.obsidian-msg-row-dmg > div:last-child,
.obsidian-apply-save,
.obsidian-apply-check {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border: 1px solid var(--highlight);
	border-radius: 3px;
	cursor: pointer;
	color: var(--text-regular);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 9px;
}

.obsidian-apply-save,
.obsidian-apply-check {
	padding: 0 1px 1px 0;
}

.obsidian-msg-row-dmg > div:last-child:hover,
.obsidian-apply-save:hover,
.obsidian-apply-check:hover {
	background: var(--dark);
	color: var(--text-bright);
}

.obsidian-msg-row,
.obsidian-msg-row-dmg {
	margin-bottom: 5px;
}

.obsidian-msg-row:last-child,
.obsidian-msg-row-dmg:last-child {
	margin: 0;
}

.obsidian-msg-key {
	margin-right: 5px;
}

.obsidian-msg-roll-box {
	border: 2px solid var(--mid);
	color: var(--text-bright);
	cursor: help;
	padding: 4px 5px;
	font-weight: bold;
	display: inline-block;
	min-width: 30px;
	text-align: center;
}

.obsidian-msg-wide-box {
	width: 100%;
}

.obsidian-msg-roll-box.obsidian-grey {
	color: var(--text-subtle);
}

.obsidian-msg-value {
	position: relative;
	flex: 1;
}

.obsidian-msg-flavour {
	color: var(--text-subtle);
	font-style: italic;
}

.obsidian-msg-tooltip {
	position: absolute;
	font-size: 11px;
	display: none;
	background: var(--dark);
	padding: 5px 8px;
	z-index: 999;
	color: var(--text-regular);
	font-family: var(--font);
	word-break: break-all;
}

.obsidian-msg-tooltip .obsidian-positive {
	color: var(--positive);
}

.obsidian-msg-tooltip .obsidian-negative {
	color: var(--negative);
}

.obsidian-msg-tooltip .obsidian-grey {
	color: var(--text-subtle);
}

.obsidian-msg-tooltip:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 5px;
	margin-left: -4px;
	width: 0;
	height: 0;
	border-top: 4px solid var(--dark);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.obsidian-msg section {
	border-bottom: 1px solid var(--mid);
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.obsidian-msg section.obsidian-msg-btn-row {
	padding-bottom: 0;
}

.obsidian-msg section.obsidian-msg-btn-row:last-child {
	margin-bottom: -5px;
}

.obsidian-msg section:last-child {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.obsidian-msg-title .obsidian-msg-title-parens {
	text-transform: none;
}

.obsidian-msg-title > div:first-child {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.obsidian-msg-sub-title {
	text-align: center;
	font-size: 11px;
	color: var(--text-subtle);
}

.obsidian-msg-addendum > div {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.obsidian-msg-save > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.obsidian-msg-save-dc {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.obsidian-msg-save-effect {
	font-size: 12px;
}

.obsidian-msg-save-dc .obsidian-msg-roll-box {
	margin: 0 6px;
}

.obsidian-msg-save-effect {
	color: var(--text-subtle);
}

.obsidian-msg-btn-row {
	text-align: center;
}

.obsidian-msg button.obsidian-btn-outline {
	width: auto;
	font-size: 12px;
	padding: 6px 8px;
	line-height: 1;
	margin-bottom: 5px;
}

.obsidian-msg button.obsidian-btn-outline i.fas {
	margin-right: 3px;
}

.obsidian-msg .obsidian-vertical-bisect {
	padding: 0 5px;
}

.obsidian-msg .obsidian-vertical-bisect:first-child {
	padding-left: 0;
}

.obsidian-msg .obsidian-vertical-bisect:last-child {
	padding-right: 0;
}

.obsidian-msg-dmg-title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: var(--text-secondary);
}

.obsidian-msg details {
	text-align: justify;
	font-size: 11px;
}

.obsidian-msg details summary {
	outline: none;
	font-size: 12px;
	color: var(--text-subtle);
}

.obsidian-spell-slot-row {
	display: flex;
	margin-bottom: 6px;
	padding-bottom: 4px;
	border-bottom: 1px solid var(--mid);
}

.obsidian-spell-slot-row:last-child {
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.obsidian-spell-slot-row > div:first-child {
	width: 45px;
	color: var(--text-subtle);
	font-size: 13px;
}

.obsidian-spell-slot-row > div:first-child.obsidian-negative {
	color: var(--negative);
}

.obsidian-spell-slot-row > div:first-child.obsidian-positive {
	color: var(--positive);
}

.obsidian-spell-slot-row > div:last-child {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.obsidian-spell-slot .rollable:hover {
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.obsidian-msg .obsidian-item-card {
	border: 0;
	padding: 10px 0 0 0;
	margin: 0;
}

.obsidian-msg .obsidian-item-card-header h3,
.obsidian-msg .obsidian-item-card-header-key,
.obsidian-msg .obsidian-item-card-header-value {
	font-size: 12px;
}

.obsidian-msg .obsidian-item-card-body {
	font-size: 11px;
}

.obsidian-class-row {
	display: flex;
	align-items: center;
}

.obsidian .obsidian-class-row input {
	margin-bottom: 0;
}

.obsidian-class-col-edit {
	width: 30px;
	font-size: 13px;
}

.obsidian-class-col-name {
	flex: 1;
	color: var(--text-subtle);
}

.obsidian-class-col-subclass {
	width: 120px;
	padding-right: 10px;
}

.obsidian-class-col-level {
	width: 40px;
}

.obsidian-class-col-hd {
	width: 40px;
	color: var(--text-secondary);
	font-size: 13px;
}

.obsidian-class-col-rm {
	width: 40px;
	justify-self: flex-end;
	margin-right: 4px;
}

#client-settings .obsidian-btn-outline {
	flex: 1;
}

.obsidian-import-export {
	display: flex;
}

.obsidian-import-export button {
	width: 50%;
}

.obsidian-import-export button:first-child {
	margin-right: 10px;
}

.obsidian-drop-down-with-manage {
	display: flex;
	margin-bottom: 5px;
}

.obsidian-drop-down-with-manage select {
	width: 70%;
	margin-right: 10px;
}

.obsidian-drop-down-with-manage button {
	width: 30%;
	height: 27px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.obsidian-2-pane section header input {
	display: inline-block;
}

select[multiple] {
	width: 100%;
	height: 400px;
	border: 2px ridge var(--mid);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
	scrollbar-color: transparent rgba(0, 0, 0, .75);
	scrollbar-width: thin;
}

select[multiple]::-webkit-scrollbar,
.obsidian-json-dump::-webkit-scrollbar {
	height: 6px;
}

select[multiple]::-webkit-scrollbar-track,
.obsidian-json-dump::-webkit-scrollbar-track {
	box-shadow: none;
}

select[multiple]::-webkit-scrollbar-thumb,
.obsidian-json-dump::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

select[multiple] option {
	color: var(--text-regular);
	padding: 6px 12px;
}

select[multiple] option:nth-child(2n) {
	background-color: var(--mid);
}

.obsidian-transfer-buttons {
	position: absolute;
	left: 387px;
	top: 315px;
	display: flex;
	flex-direction: column;
}

.obsidian .obsidian-transfer-buttons button {
	border: none;
	padding: 4px 8px;
	width: auto;
	line-height: 1;
	background: transparent;
	margin-bottom: 10px;
}

.obsidian .obsidian-transfer-buttons button:hover {
	box-shadow: none;
	text-shadow: 0 0 5px var(--highlight);
}

.obsidian-json-dump {
	height: 100%;
	background: transparent;
	color: var(--text-regular);
	border: 1px solid var(--mid);
	scrollbar-color: transparent rgba(0, 0, 0, .75);
	scrollbar-width: thin;
}

.obsidian-2-pane ul.obsidian-tab-bar {
	margin-bottom: 5px;
}

.obsidian-form-row-img {
	display: flex;
}

.obsidian-form-row-img > div:first-child img {
	width: 56px;
	height: 56px;
	margin-right: 10px;
	border: 1px solid var(--mid);
	border-radius: 5px;
}

.obsidian-form-row-img > div:last-child {
	flex: 1;
}

.obsidian .inline-roll,
.obsidian-msg .inline-roll,
.obsidian .entity-link,
.obsidiam-msg .entity-link {
	cursor: default;
	font-weight: bold;
	color: var(--text-regular);
	background-color: transparent;
	border: none;
}

.obsidian .inline-roll:hover,
.obsidian-msg .inline-roll:hover,
.obsidian .entity-link:hover,
.obsidiam-msg .entity-link:hover {
	text-shadow: none;
}

.obsidian .inline-roll i,
.obsidian-msg .inline-roll i {
	display: none;
}

.obsidian .inline-roll.roll,
.obsidian-msg .inline-roll.roll,
.obsidian .entity-link,
.obsidiam-msg .entity-link {
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	border: 1px solid var(--highlight);
	border-radius: 3px;
	padding: 4px 6px;
	font-size: 11px;
}

.obsidian .inline-roll.roll i,
.obsidian-msg .inline-roll.roll i,
.obsidian .entity-link i,
.obsidiam-msg .entity-link i {
	display: inline-block;
	color: var(--text-regular);
}

.obsidian .inline-roll.roll:hover,
.obsidian-msg .inline-roll.roll:hover,
.obsidian .entity-link:hover,
.obsidiam-msg .entity-link:hover {
	background: var(--dark);
	color: var(--text-bright);
	box-shadow: 0 0 5px red;
}

.obsidian .inline-roll.roll:hover i,
.obsidian-msg .inline-roll.roll:hover i,
.obsidian .entity-link:hover i,
.obsidiam-msg .entity-link:hover i {
	color: var(--text-bright);
}
