.npc .obsidian [data-tab=desc] section:first-child {
	column-width: 350px;
	text-align: center;
}

.npc .obsidian [data-tab=desc] .obsidian-char-box {
	width: 350px;
	text-align: left;
	font-weight: normal;
	color: var(--text-regular);
	font-size: 13px;
	padding: 8px;
}

.npc .obsidian [data-tab=desc] h3 {
	margin: 15px 8px .5rem 8px;
}

.dnd5e.sheet.npc .window-content .obsidian .tab {
	height: auto;
	scrollbar-color: transparent rgba(0, 0, 0, .75);
	scrollbar-width: thin;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar {
	height: 6px;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar-track {
	box-shadow: none;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

.obsidian-npc-stats {
	padding: 0 12px;
}

.obsidian-npc-stats header {
	border-bottom: 1px solid var(--mid);
	padding-bottom: 8px;
	width: 100%;
	position: relative;
}

.obsidian-npc-stats header .obsidian-char-charname {
	margin-bottom: 5px;
}

.obsidian-npc-stats header .obsidian-char-header-minor {
	padding-left: 4px;
	cursor: pointer;
}

.dnd5e.sheet.npc .obsidian-npc-stats header .obsidian-char-header-minor span {
	font-size: 16px;
	font-style: italic;
}

.obsidian-npc-stats main {
	column-width: 350px;
	column-gap: 20px;
	padding-top: 8px;
}

.obsidian-npc-stat-row {
	display: flex;
	align-items: center;
}

.obsidian-npc-stat-row,
.obsidian-npc-stat-runon {
	margin-bottom: 4px;
}

.obsidian-npc-stat-key,
.obsidian-npc-stat-runon strong {
	font-size: 14px;
	text-transform: uppercase;
	color: var(--text-secondary);
	font-family: var(--font-condensed);
	font-weight: bold;
	margin-right: 5px;
}

.obsidian-font-13 {
	font-size: 13px;
}

.obsidian-font-14 {
	font-size: 14px;
}

.dnd5e.sheet .obsidian-npc-hp input[type=text],
.dnd5e.sheet .obsidian-npc-cr input[type=text] {
	height: auto;
	width: 30px;
	font-size: 14px;
	color: var(--text-regular);
	display: inline-block;
	margin: 0;
}

.dnd5e.sheet .obsidian-npc-hp input[type=text]:first-child {
	color: var(--text-subtle);
}

.dnd5e.sheet .obsidian-npc-hp input[type=text].obsidian-npc-tmp-hp {
	padding: 0;
	font-weight: normal;
	color: var(--text-secondary);
	text-align: center;
}

.obsidian-npc-hp-formula {
	display: inline-block;
	margin-left: 3px;
}

.obsidian-npc-subtle {
	color: var(--text-subtle);
	font-size: 13px;
}

.dnd5e.sheet .obsidian-npc-hp-formula input[type=text],
.dnd5e.sheet .obsidian-npc-cr input[type=text] {
	width: 75px;
	font-weight: normal;
	border: none;
	border-bottom: 1px solid var(--mid);
}

.dnd5e.sheet .obsidian-npc-hp-formula input[type=text]:hover,
.dnd5e.sheet .obsidian-npc-hp-formula input[type=text]:focus,
.dnd5e.sheet .obsidian-npc-cr input[type=text]:hover,
.dnd5e.sheet .obsidian-npc-cr input[type=text]:focus {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--mid);
}

.npc .obsidian-char-abilities {
	padding: 2px 0 6px 0;
}

.obsidian fieldset.obsidian-edit-npc-stats {
	border: none;
	border-top: 1px solid var(--mid);
	margin: 0;
	padding: 0 0 4px 0;
}

.obsidian-edit-npc-stats legend {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-regular);
}

.obsidian-npc-stat-li {
	display: inline-block;
}

.obsidian-npc-stat-li:after {
	content: ', ';
}

.obsidian-npc-stat-li:last-child:after {
	content: '';
}

.obsidian-npc-saves .obsidian-npc-stat-li {
	text-transform: uppercase;
}

.obsidian-npc-configure {
	display: flex;
	justify-content: space-evenly;
	font-size: 12px;
	color: var(--text-secondary);
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px dotted var(--mid);
}

.obsidian-npc-configure i {
	color: var(--text-subtle);
}

.obsidian-npc-configure div:hover i {
	color: var(--text-regular);
}

.obsidian-npc-configure div:first-child {
	margin-right: 5px;
}

.obsidian-npc-configure div:last-child {
	margin-left: 5px;
}

.obsidian .obsidian-save-item input,
.obsidian .obsidian-npc-grid-item input {
	width: 25px;
	border: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1;
}

.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(16),
.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(17),
.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(18) {
	margin: 0;
	border: none;
}

.obsidian-npc-stat-block {
	padding-bottom: 8px;
	border-bottom: 2px solid var(--mid);
	break-inside: avoid;
}

.npc main section {
	border-bottom: 2px solid var(--mid);
}

.npc main section:last-child,
.npc main .obsidian-feature-body section {
	border: none;
}

.npc main section .obsidian-feature:last-child {
	margin-bottom: 10px;
}

.obsidian-npc-stats .obsidian-feature {
	margin-bottom: 0;
	break-inside: avoid;
}

.obsidian-npc-stats .obsidian-feature p {
	margin-top: 0;
}

.obsidian-npc-stats .obsidian-feature-header {
	align-items: flex-start;
	margin-top: 12px;
	margin-bottom: 4px;
}

.npc .obsidian .obsidian-npc-stats h3 {
	border: none;
	text-transform: none;
	font-size: 20px;
	font-weight: normal;
	font-family: var(--font);
	padding: 0;
	margin: 4px 0 -6px;
}

.obsidian-rules-text {
	padding-top: 4px;
	color: var(--text-subtle);
	font-size: 12px;
}

.obsidian-attack-line {
	display: flex;
	align-items: center;
	border: 1px dotted var(--mid);
	padding: 6px 8px;
	margin-top: 8px;
}

.obsidian-attack-line + .obsidian-feature-body {
	margin-top: 8px;
}

.obsidian-npc-exhaustion .obsidian-exhaustion {
	text-align: center;
}

.obsidian-npc-death {
	display: flex;
	align-items: center;
}

.obsidian-npc-death .obsidian-meatballs {
	display: inline-block;
}

.obsidian-npc-death .obsidian-radio {
	width: 16px;
}

.obsidian-npc-death .obsidian-binary-operator {
	margin: 0 10px;
}

.npc .obsidian-spell-table .obsidian-col-icon {
	font-size: 18px;
}

.obsidian-npc-btns {
	position: absolute;
	top: 0;
	right: 0;
}

.obsidian-npc-btns button.obsidian-btn-sm.obsidian-btn-sheet {
	margin-bottom: 5px;
}
