.obsidian-icon {
	width: 20px;
	height: 20px;
	background: 50% transparent no-repeat;
	background-size: 20px 20px;
}

li.context-item .obsidian-icon {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: -4px;
}

.obsidian-icon-sm {
	width: 16px;
	height: 16px;
	background: 50% transparent no-repeat;
	background-size: 16px 16px;
	margin-left: 5px;
}

.obsidian-icon-melee {
	background-image: url('../img/melee.svg');
}

.obsidian-icon-ranged {
	background-image: url('../img/ranged.svg');
}

.obsidian-icon-unarmed {
	background-image: url('../img/unarmed.svg');
}

.obsidian-icon-versatile {
	background-image: url('../img/versatile.svg');
}

.obsidian-icon-blg {
	background-image: url('../img/bludgeoning.svg');
}

.obsidian-icon-prc {
	background-image: url('../img/piercing.svg');
}

.obsidian-icon-slh {
	background-image: url('../img/slashing.svg');
}

.obsidian-icon-acd {
	background-image: url('../img/acid.svg');
}

.obsidian-icon-cld {
	background-image: url('../img/cold.svg');
}

.obsidian-icon-fir {
	background-image: url('../img/fire.svg');
}

.obsidian-icon-frc {
	background-image: url('../img/force.svg');
}

.obsidian-icon-lig {
	background-image: url('../img/lightning.svg');
}

.obsidian-icon-ncr {
	background-image: url('../img/necrotic.svg');
}

.obsidian-icon-psn {
	background-image: url('../img/poison.svg');
}

.obsidian-icon-psy {
	background-image: url('../img/psychic.svg');
}

.obsidian-icon-rad {
	background-image: url('../img/radiant.svg');
}

.obsidian-icon-thn {
	background-image: url('../img/thunder.svg');
}

.obsidian-icon-hlg {
	background-image: url('../img/healing.svg');
}

.obsidian-icon-cp {
	background-image: url('../img/currency/copper.png');
}

.obsidian-icon-sp {
	background-image: url('../img/currency/silver.png');
}

.obsidian-icon-ep {
	background-image: url('../img/currency/electrum.png');
}

.obsidian-icon-gp {
	background-image: url('../img/currency/gold.png');
}

.obsidian-icon-pp {
	background-image: url('../img/currency/platinum.png');
}

.obsidian-icon-amulet {
	background-image: url('../img/amulet.svg');
}

.obsidian-icon-armour {
	background-image: url('../img/armour.svg');
}

.obsidian-icon-belt {
	background-image: url('../img/belt.svg');
}

.obsidian-icon-boots {
	background-image: url('../img/boots.svg');
}

.obsidian-icon-bracers {
	background-image: url('../img/bracers.svg');
}

.obsidian-icon-cloak {
	background-image: url('../img/cloak.svg');
}

.obsidian-icon-potion,
.obsidian-icon-consumable {
	background-image: url('../img/consumable.svg');
}

.obsidian-icon-gauntlet {
	background-image: url('../img/gauntlet.svg');
}

.obsidian-icon-helm {
	background-image: url('../img/helm.svg');
}

.obsidian-icon-ring {
	background-image: url('../img/ring.svg');
}

.obsidian-icon-tool {
	background-image: url('../img/tool.svg');
}

.obsidian-icon-weapon {
	background-image: url('../img/weapon.svg');
}

.obsidian-icon-gear {
	background-image: url('../img/gear.svg');
}

.obsidian-icon-loot {
	background-image: url('../img/loot.svg');
}

.obsidian-icon-ammo {
	background-image: url('../img/ammo.svg');
}

.obsidian-icon-scroll {
	background-image: url('../img/scroll.svg');
}

.obsidian-icon-wand {
	background-image: url('../img/wand.svg');
}

.obsidian-icon-rod {
	background-image: url('../img/rod.svg');
}

.obsidian-icon-trinket {
	background-image: url('../img/trinket.svg');
}

.obsidian-icon-effect {
	background-image: url('../img/effect.svg');
}

.obsidian-icon-demolish {
	background-image: url('../img/demolish.svg');
}

.obsidian-icon-comp-attack {
	background-image: url('../img/melee.svg');
}

.obsidian-icon-comp-resource {
	background-image: url('../img/resource.svg');
}

.obsidian-icon-comp-damage {
	background-image: url('../img/damage.svg');
}

.obsidian-icon-comp-save {
	background-image: url('../img/save.svg');
}

.obsidian-icon-comp-scaling {
	background-image: url('../img/scaling.svg');
}

.obsidian-icon-comp-target {
	background-image: url('../img/target.svg');
}

.obsidian-icon-comp-consume {
	background-image: url('../img/consume-resource.svg');
}

.obsidian-icon-comp-produce {
	background-image: url('../img/produce-resource.svg');
}

.obsidian-icon-comp-spells {
	background-image: url('../img/provides-spells.svg');
}

.obsidian-icon-comp-roll-mod {
	background-image: url('../img/roll-modifier.svg');
}

.obsidian-icon-comp-filter {
	background-image: url('../img/filter.svg');
}

.obsidian-icon-comp-bonus {
	background-image: url('../img/bonus.svg');
}

.obsidian-icon-comp-duration {
	background-image: url('../img/duration.svg');
}

.obsidian-icon-comp-expression {
	background-image: url('../img/expression.svg');
}

.obsidian-icon-comp-applied {
	background-image: url('../img/applied-effect.svg');
}

.obsidian-icon-comp-uses-ability {
	background-image: url('../img/uses-ability.svg');
}

.obsidian-icon-comp-defense {
	background-image: url('../img/defense.svg');
}

.obsidian-icon-comp-setter {
	background-image: url('../img/set-score.svg');
}

.obsidian-icon-comp-description {
	background-image: url('../img/description.svg');
}

.obsidian-icon-comp-check {
	background-image: url('../img/check.svg');
}

.obsidian-icon-comp-roll-table {
	background-image: url('../img/roll-table.svg');
}

.obsidian-icon-npc {
	background-image: url('../img/npc.svg');
}

.obsidian-icon-obsidian {
	background-image: url('../img/obsidian.png');
}

.obsidian-icon-school-abj {
	background-image: url('../img/magic/abjuration.png');
}

.obsidian-icon-school-con {
	background-image: url('../img/magic/conjuration.png');
}

.obsidian-icon-school-div {
	background-image: url('../img/magic/divination.png');
}

.obsidian-icon-school-enc {
	background-image: url('../img/magic/enchantment.png');
}

.obsidian-icon-school-ill {
	background-image: url('../img/magic/illusion.png');
}

.obsidian-icon-school-trs {
	background-image: url('../img/magic/transmutation.png');
}

.obsidian-icon-school-evo {
	background-image: url('../img/magic/evocation.png');
}

.obsidian-icon-school-nec {
	background-image: url('../img/magic/necromancy.png');
}

.obsidian-css-icon {
	position: relative;
}

.obsidian-css-icon-sm {
	transform: scale(.7);
}

.obsidian-css-icon-label {
	position: absolute;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bg);
}

.obsidian-css-icon-negative .obsidian-css-icon-label {
	color: var(--text-regular);
}

.obsidian-css-icon-hexagon,
.obsidian-css-icon-hexagon .obsidian-css-icon-shape,
.obsidian-css-icon-hexagon .obsidian-css-icon-label {
	width: 20px;
	height: 12px;
}

.obsidian-css-icon-diamond,
.obsidian-css-icon-diamond .obsidian-css-icon-label {
	width: 20px;
	height: 19px;
}

.obsidian-css-icon-circle,
.obsidian-css-icon-circle .obsidian-css-icon-shape,
.obsidian-css-icon-circle .obsidian-css-icon-label {
	width: 20px;
	height: 20px;
}

.obsidian-css-icon-circle .obsidian-css-icon-label,
.obsidian-css-icon-diamond .obsidian-css-icon-label {
	font-weight: bold;
}

.obsidian-css-icon-circle.obsidian-css-icon-sm,
.obsidian-css-icon-circle.obsidian-css-icon-sm .obsidian-css-icon-shape,
.obsidian-css-icon-circle.obsidian-css-icon-sm .obsidian-css-icon-label {
	width: 14px;
	height: 14px;
	transform: scale(1);
}

.obsidian-css-icon-circle.obsidian-css-icon-xs,
.obsidian-css-icon-circle.obsidian-css-icon-xs .obsidian-css-icon-shape,
.obsidian-css-icon-circle.obsidian-css-icon-xs .obsidian-css-icon-label {
	width: 12px;
	height: 12px;
}

.obsidian-css-icon-circle.obsidian-css-icon-sm .obsidian-css-icon-label,
.obsidian-css-icon-circle.obsidian-css-icon-xs .obsidian-css-icon-label {
	font-size: 11px;
}

.obsidian-css-icon-shape {
	position: relative;
}

.obsidian-css-icon-shape:before,
.obsidian-css-icon-shape:after {
	content: '';
	position: absolute;
}

.obsidian-css-icon-hexagon .obsidian-css-icon-shape:before {
	top: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 5px solid transparent;
}

.obsidian-css-icon-hexagon .obsidian-css-icon-shape:after {
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 5px solid transparent;
}

.obsidian-css-icon-diamond .obsidian-css-icon-shape {
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	height: 0;
	width: 10px;
	box-sizing: content-box;
}

.obsidian-css-icon-diamond .obsidian-css-icon-shape:after {
	top: 5px;
	left: -5px;
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.obsidian-css-icon-circle .obsidian-css-icon-shape {
	border-radius: 50%;
}

.obsidian-css-icon-positive.obsidian-css-icon-hexagon {
	background: var(--positive);
}

.obsidian-css-icon-negative.obsidian-css-icon-hexagon {
	background: var(--negative);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-positive .obsidian-css-icon-shape:before {
	border-bottom-color: var(--positive);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-positive .obsidian-css-icon-shape:after {
	border-top-color: var(--positive);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-negative .obsidian-css-icon-shape:before {
	border-bottom-color: var(--negative);
}

.obsidian-css-icon-hexagon.obsidian-css-icon-negative .obsidian-css-icon-shape:after {
	border-top-color: var(--negative);
}

.obsidian-css-icon-diamond.obsidian-css-icon-positive .obsidian-css-icon-shape {
	border-bottom-color: var(--positive);
}

.obsidian-css-icon-diamond.obsidian-css-icon-positive .obsidian-css-icon-shape:after {
	border-top-color: var(--positive);
}

.obsidian-css-icon-diamond.obsidian-css-icon-negative .obsidian-css-icon-shape {
	border-bottom-color: var(--negative);
}

.obsidian-css-icon-diamond.obsidian-css-icon-negative .obsidian-css-icon-shape:after {
	border-top-color: var(--negative);
}

.obsidian-css-icon-circle.obsidian-css-icon-secondary .obsidian-css-icon-shape {
	background: var(--text-secondary);
}

.obsidian-css-icon-circle.obsidian-css-icon-regular .obsidian-css-icon-shape {
	background: var(--text-regular);
}

.obsidian-css-icon-circle.obsidian-css-icon-empty .obsidian-css-icon-shape {
	border: 1px solid var(--text-regular);
}

.obsidian-css-icon-circle.obsidian-css-icon-empty .obsidian-css-icon-label {
	color: var(--text-regular);
	font-weight: normal;
}
