<form class="obsidian" autocomplete="off">
  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
    <div class="obsidian-checkbox-row">
      {{fancy-checkbox 'flags.obsidian.defenses.disease' content='OBSIDIAN.ImmuneDisease'
                       checked=actor.flags.obsidian.defenses.disease}}
      {{fancy-checkbox 'flags.obsidian.defenses.sleep' content='OBSIDIAN.ImmuneSleep'
                       checked=actor.flags.obsidian.defenses.sleep}}
    </div>
  </div>
  <label class="obsidian-inline obsidian-label-lg" style="margin-top: 10px;">
    {{localize 'OBSIDIAN.Damage'}}
	  <div class="obsidian-flex">
		  <button type="button" class="obsidian-btn-compact obsidian-btn-outline obsidian-def-bps-res">
			  {{localize 'OBSIDIAN.BPSRes'}}
		  </button>
		  <button type="button" class="obsidian-btn-compact obsidian-btn-outline obsidian-def-bps-imm">
			  {{localize 'OBSIDIAN.BPSImm'}}
		  </button>
	    <button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-dmg">
	      {{localize 'OBSIDIAN.Add'}}
	    </button>
	  </div>
  </label>
  {{#each actor.flags.obsidian.defenses.damage as |def id|}}
	  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
	    <div>
	      <select name="flags.obsidian.defenses.damage.{{id}}.level">
	        {{#select def.level}}
            {{#each ../ObsidianRules.DEFENSE_LEVELS}}
			        <option value="{{this}}">{{i18n-join 'OBSIDIAN.DefenseLevel-' this}}</option>
		        {{/each}}
	        {{/select}}
	      </select>
	      <select name="flags.obsidian.defenses.damage.{{id}}.dmg">
	        {{#select def.dmg}}
		        {{#each ../ObsidianRules.DAMAGE_TYPES}}
			        <option value="{{this}}">{{i18n-join 'OBSIDIAN.Damage-' this}}</option>
		        {{/each}}
		        <option value="hlg">{{localize 'OBSIDIAN.Healing'}}</option>
	        {{/select}}
	      </select>
		    <select name="flags.obsidian.defenses.damage.{{id}}.magic" data-selector="{{id}}.magic">
			    {{#select def.magic}}
				    <option value="">&mdash;</option>
				    <option value="non">{{localize 'OBSIDIAN.Defense-non'}}</option>
			    {{/select}}
		    </select>
		    <select name="flags.obsidian.defenses.damage.{{id}}.material" data-show="non"
		            data-selector-parent="{{id}}.magic">
			    {{#select def.material}}
				    <option value="">&mdash;</option>
				    <option value="sil">{{localize 'OBSIDIAN.Defense-sil'}}</option>
				    <option value="adm">{{localize 'OBSIDIAN.Defense-adm'}}</option>
			    {{/select}}
		    </select>
	    </div>
	    <button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-dmg">
	      {{localize 'OBSIDIAN.Remove'}}
	    </button>
	  </div>
  {{/each}}
  <label class="obsidian-inline obsidian-label-lg" style="margin-top: 10px;">
    {{localize 'OBSIDIAN.ConditionImmunities'}}
    <button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-cond">
      {{localize 'OBSIDIAN.Add'}}
    </button>
  </label>
  {{#each actor.flags.obsidian.defenses.conditions as |def id|}}
	  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
	    <div>
		    <select name="flags.obsidian.defenses.conditions.{{id}}.level">
			    {{#select def.level}}
				    {{#each @root.ObsidianRules.CONDITION_LEVELS}}
					    <option value="{{this}}">{{i18n-join 'OBSIDIAN.ConditionLevel-' this}}</option>
				    {{/each}}
			    {{/select}}
		    </select>
	      <select name="flags.obsidian.defenses.conditions.{{id}}.condition">
	        {{#select def.condition}}
		        {{#each ../ObsidianRules.CONDITIONS}}
			        <option value="{{this}}">{{i18n-join 'OBSIDIAN.Condition-' this}}</option>
		        {{/each}}
		        <option value="exhaustion">{{localize 'OBSIDIAN.Exhaustion'}}</option>
	        {{/select}}
	      </select>
	    </div>
	    <button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-cond">
	      {{localize 'OBSIDIAN.Remove'}}
	    </button>
	  </div>
  {{/each}}
</form>
