<form class="obsidian obsidian-form-bare" autocomplete="off" onsubmit="event.preventDefault();">
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline"
	     style="margin-bottom: 10px;">
		<div class="obsidian-fullwidth">
			<span style="margin-right: 10px;">{{name}}</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" value="{{remaining}}">
		</div>
	</div>
</form>
