<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-item-card">
		<div class="obsidian-item-card-header">
			<h3>{{item.name}}</h3>
			<div class="obsidian-item-card-sub-header">
				{{#if (eq item.flags.obsidian.subtype 'armour')}}
					<div class="obsidian-table-note-text">
						{{i18n-join 'OBSIDIAN.ArmourTypeFull-' item.data.armor.type}}
					</div>
				{{/if}}
				{{#each item.flags.obsidian.notes}}
					<div class="obsidian-table-note-text">{{{this}}}</div>
				{{/each}}
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Weight'}}:</div>
				<div class="obsidian-item-card-header-value">
					{{item.data.weight}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				</div>
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Cost'}}:</div>
				<div class="obsidian-item-card-header-value obsidian-icon-value">
					{{number-format item.data.price}}
					<i class="obsidian-icon-sm obsidian-icon-gp"></i>
				</div>
			</div>
		</div>
		<div class="obsidian-item-card-body">{{{item.data.description.value}}}</div>
	</div>
</form>
