<form class="obsidian" autocomplete="off">
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.HitDiceOverride'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-hd">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each hd as |hd die|}}
		{{#if (or (gt hd.max 0) (defined-and-not-empty hd.override))}}
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div>
				<select {{#if hd.derived}}disabled{{/if}}>
					{{#select die}}
						{{#each ../ObsidianRules.HD}}
							<option value="d{{this}}">d{{this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm" type="text"
				       value="{{hd.override}}">
			</div>
			{{#unless hd.derived}}
			<button type="button" class="obsidian-btn-negative obsidian-rm-hd obsidian-btn-sm">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
			{{/unless}}
		</div>
		{{/if}}
	{{/each}}
</form>
