<form class="obsidian obsidian-form-bare" autocomplete="off">
	{{#if isNPC}}
	<fieldset>
		<legend>{{localize 'OBSIDIAN.NPCSpellcaster'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<select name="data.attributes.spellcasting">
					{{#select data.attributes.spellcasting}}
						<option value="">&mdash;</option>
						{{#each ObsidianRules.ABILITIES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Level'}}
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       data-dtype="Number" name="data.details.spellLevel"
					       value="{{data.details.spellLevel}}">
				</label>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       data-dtype="Number" name="flags.obsidian.spells.attack"
					       value="{{actor.flags.obsidian.spells.attack}}">
					<span>{{localize 'OBSIDIAN.AttackOverride'}}</span>
				</label>
				<label class="obsidian-inline">
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
					       data-dtype="Number" name="flags.obsidian.spells.save"
					       value="{{actor.flags.obsidian.spells.save}}">
					<span>{{localize 'OBSIDIAN.SaveOverride'}}</span>
				</label>
			</div>
		</div>
	</fieldset>
	{{/if}}
	<fieldset>
		<legend>{{localize 'OBSIDIAN.SlotOverride'}}</legend>
		<div class="obsidian-form-row obsidian-inline obsidian-align-labels">
			{{#each (range 1 5)}}
				<label class="obsidian-inline">
					<input type="text" name="data.spells.spell{{this}}.override" data-dtype="Number"
					       value="{{#with (lookup ../data.spells (add 'spell' this))}}{{override}}{{/with}}"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
					<span>
						{{#if (eq this 1)}}
							{{localize 'OBSIDIAN.FirstN'}}
						{{else if (eq this 2)}}
							{{localize 'OBSIDIAN.SecondN'}}
						{{else if (eq this 3)}}
							{{localize 'OBSIDIAN.ThirdN'}}
						{{else}}
							{{this}}{{localize 'OBSIDIAN.th'}}
						{{/if}}
					</span>
				</label>
			{{/each}}
		</div>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline obsidian-align-labels">
			{{#each (range 6 9)}}
				<label class="obsidian-inline">
					<input type="text" name="data.spells.spell{{this}}.override" data-dtype="Number"
					       value="{{#with (lookup ../data.spells (add 'spell' this))}}{{override}}{{/with}}"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
					<span>{{this}}{{localize 'OBSIDIAN.th'}}</span>
				</label>
			{{/each}}
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="data.spells.pact.override" value="{{data.spells.pact.override}}"
				       data-dtype="Number">
				<span>{{localize 'OBSIDIAN.Pact'}}</span>
			</label>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.PactMagic'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.PactSlotLevel'}}
				<select name="flags.obsidian.spells.slots.pactLevel">
					{{#select actor.flags.obsidian.spells.slots.pactLevel}}
						<option value="">&mdash;</option>
						{{#each (range 1 9)}}
							<option value="{{this}}">
								{{#if (eq this 1)}}
									{{localize 'OBSIDIAN.FirstN'}}
								{{else if (eq this 2)}}
									{{localize 'OBSIDIAN.SecondN'}}
								{{else if (eq this 3)}}
									{{localize 'OBSIDIAN.ThirdN'}}
								{{else}}
									{{this}}{{localize 'OBSIDIAN.th'}}
								{{/if}}
							</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
		</div>
	</fieldset>
</form>
