<div class="obsidian-form-row{{#if stacked}} obsidian-stacked-row{{/if}} obsidian-mixed-form-row obsidian-inline">
	<div class="obsidian-fullwidth">
		{{#unless (or attack damage)}}
		<input type="text" class="obsidian-input-compact" name="{{prefix}}.name" value="{{name}}"
		       placeholder="{{localize 'OBSIDIAN.RollName'}}">
		{{/unless}}
		{{#if attack}}
			<span class="obsidian-binary-operator">&plus;</span>
		{{/if}}
		{{#unless damage}}
		<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
		       data-dtype="Number" placeholder="0" name="{{prefix}}.ndice" value="{{ndice}}">
		<select name="{{prefix}}.die" data-dtype="Number">
			{{#select die}}
				{{#each @root.ObsidianRules.DAMAGE_DICE}}
					<option value="{{this}}">d{{this}}</option>
				{{/each}}
			{{/select}}
		</select>
		{{/unless}}
		{{#unless (or attack damage)}}
		<span class="obsidian-binary-operator">&plus;</span>
		<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
		       data-dtype="Number" placeholder="0" name="{{prefix}}.bonus" value="{{bonus}}">
		{{/unless}}
		{{#if damage}}
		<span class="obsidian-binary-operator">&plus;</span>
		<select name="{{prefix}}.prof">
			{{#select prof}}
				<option value="">&mdash;</option>
				{{#each @root.ObsidianRules.PLUS_PROF}}
					<option value="{{@key}}">{{i18n-join 'OBSIDIAN.PlusProf-' this}}</option>
				{{/each}}
			{{/select}}
		</select>
		{{/if}}
{{#unless (or attack damage)}}
	</div>
</div>
<input type="hidden" name="{{prefix}}.formula" data-dtype="Boolean" value="true">
<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
	<div class="obsidian-fullwidth">
		<span class="obsidian-binary-operator">&plus;</span>
		<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
		       data-dtype="Number" placeholder="0" name="{{prefix}}.constant" value="{{constant}}">
		<select class="obsidian-select-operator" name="{{prefix}}.operator">
			{{#select operator}}
				<option value="plus">&plus;</option>
				<option value="mult">&times;</option>
			{{/select}}
		</select>
		<select name="{{prefix}}.value" data-selector="{{prefix}}.value">
			{{#select value}}
				<option value="">&mdash;</option>
				{{#each @root.ObsidianRules.EFFECT_BONUS_VALUES}}
					<option value="{{this}}">{{i18n-join 'OBSIDIAN.BonusValue-' this}}</option>
				{{/each}}
			{{/select}}
		</select>
		<select name="{{prefix}}.ability" data-selector-parent="{{prefix}}.value" data-show="abl">
			{{#select ability}}
				{{#each @root.ObsidianRules.ABILITIES}}
					<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
				{{/each}}
			{{/select}}
		</select>
{{/unless}}
		{{#if (or attack damage)}}
		<span class="obsidian-binary-operator">&plus;</span>
		<select name="{{prefix}}.level" data-selector="{{prefix}}.level">
			{{#select level}}
				<option value="">&mdash;</option>
				{{#each @root.ObsidianRules.EFFECT_BONUS_LEVEL}}
					<option value="{{this}}">{{i18n-join 'OBSIDIAN.UsesKey-' this}}</option>
				{{/each}}
			{{/select}}
		</select>
		{{/if}}
		{{#if @root.actor}}
			<select name="{{prefix}}.class" data-show="cls"
			        data-selector-parent="{{prefix}}.{{#if (or attack damage)}}level{{else}}value{{/if}}">
			{{#select class}}
				{{#each @root.actor.data.obsidian.classes}}
					<option value="{{_id}}">{{flags.obsidian.label}}</option>
				{{/each}}
			{{/select}}
		</select>
		{{else}}
			<input type="text" class="obsidian-input-compact" name="{{prefix}}.text" value="{{text}}"
			       placeholder="{{localize 'OBSIDIAN.Class'}}" data-show="cls"
			       data-selector-parent="{{prefix}}.{{#if (or attack damage)}}level{{else}}value{{/if}}">
		{{/if}}
	</div>
</div>
