<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.DamageHeal'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-checkbox-row obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Calculation'}}
				<select name="{{prefix}}.calc" data-selector="{{prefix}}.calc">
					{{#select calc}}
						{{#each @root.ObsidianRules.RESOURCE_USES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.DamageCalc-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="{{prefix}}.ncrit" value="{{ncrit}}">
				<span>{{localize 'OBSIDIAN.CritDice'}}</span>
			</label>
			{{fancy-checkbox (add prefix '.versatile') content='OBSIDIAN.Versatile' checked=versatile}}
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.ndice" value="{{ndice}}"
			       data-selector-parent="{{prefix}}.calc" data-show="formula">
			<select name="{{prefix}}.die" data-dtype="Number" data-selector-parent="{{prefix}}.calc"
			        data-show="formula">
				{{#select die}}
					{{#each @root.ObsidianRules.DAMAGE_DICE}}
						<option value="{{this}}">d{{this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator" data-selector-parent="{{prefix}}.calc"
			      data-show="formula">&plus;</span>
			<select name="{{prefix}}.ability">
				{{#select ability}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.EFFECT_ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.bonus" value="{{bonus}}">
			<select name="{{prefix}}.damage">
				{{#select damage}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.EFFECT_DAMAGE_TYPES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Damage-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	{{#if extraBonus}}
		{{> modules/obsidian/html/components/effects/bonus-body.html extraBonus stacked=true damage=true
				prefix=(add prefix '.extraBonus')}}
	{{/if}}
	{{#if rollMod}}
		{{> modules/obsidian/html/components/effects/roll-mod-body.html rollMod stacked=true
				damage=true prefix=(add prefix '.rollMod')}}
	{{/if}}
</fieldset>
