<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.DiceExpression'}}</legend>
	<div class="obsidian-form-row obsidian-inline">
		<input type="text" class="obsidian-input-compact obsidian-input-lg" name="{{prefix}}.expr"
		       value="{{expr}}" placeholder="{{localize 'OBSIDIAN.Expression'}}"
		       style="max-width: 60%;">
		<input type="text" class="obsidian-input-compact obsidian-input-lg" name="{{prefix}}.flavour"
		       value="{{flavour}}" placeholder="{{localize 'OBSIDIAN.Flavour'}}"
		       style="max-width: 35%;">
	</div>
</fieldset>
