<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Targets'}}</legend>
  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
    <div class="obsidian-fullwidth">
      <select name="{{prefix}}.target" data-selector="{{prefix}}.target">
        {{#select target}}
	        {{#each @root.ObsidianRules.EFFECT_TARGETS}}
		        <option value="{{this}}">{{i18n-join 'OBSIDIAN.Target-' this}}</option>
	        {{/each}}
        {{/select}}
      </select>
      <input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
             data-dtype="Number" placeholder="0" name="{{prefix}}.count" value="{{this.count}}"
             data-selector-parent="{{prefix}}.target" data-show="individual">
	    <label class="obsidian-inline" data-selector-parent="{{prefix}}.target" data-show="area">
		    <input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
		           data-dtype="Number" placeholder="0" name="{{prefix}}.distance" value="{{distance}}">
		    <span>{{localize 'OBSIDIAN.FeetAbbr'}}</span>
	    </label>
      <select name="{{prefix}}.area" data-selector-parent="{{prefix}}.target" data-show="area">
        {{#select area}}
	        {{#each @root.ObsidianRules.EFFECT_TARGETS_AREA}}
		        <option value="{{this}}">{{i18n-join 'OBSIDIAN.Target-' this}}</option>
	        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</fieldset>
