<fieldset>
	<legend>{{localize 'OBSIDIAN.Gear'}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth obsidian-checkbox-row">
					<input type="text" class="obsidian-input-compact obsidian-input-lg" name="name"
					       value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Name'}}">
					<select name="flags.obsidian.subtype" data-selector="subtype">
						{{#select item.flags.obsidian.subtype}}
							{{#each ObsidianRules.CONSUMABLE_TYPES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.ConsumableType-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
					{{fancy-checkbox 'data.uses.autoDestroy' content='OBSIDIAN.DestroyOnEmpty'
					                 checked=data.uses.autoDestroy}}
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth obsidian-checkbox-row">
					<label class="obsidian-inline">
						<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.weight" data-dtype="Number" placeholder="0" type="text"
						       value="{{item.data.weight}}">
						<span>{{localize 'OBSIDIAN.Weight'}}</span>
					</label>
					<label class="obsidian-inline obsidian-label-icon">
						<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
						       name="data.price" data-dtype="Number" placeholder="0" type="text"
						       value="{{item.data.price}}">
						<span>{{localize 'OBSIDIAN.Cost'}}</span>
						<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
					</label>
					{{fancy-checkbox 'flags.obsidian.attunement' content='OBSIDIAN.RequiresAttunement'
					                 checked=item.flags.obsidian.attunement}}
				</div>
			</div>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			{{fancy-checkbox 'flags.obsidian.magical' content='OBSIDIAN.Magical' selector='magic'
			                 checked=item.flags.obsidian.magical}}
			{{#if (eq item.flags.obsidian.subtype 'ammo')}}
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-selector-parent="magic" data-dtype="Number" name="flags.obsidian.magicBonus"
				       value="{{item.flags.obsidian.magicBonus}}">
			{{/if}}
		</div>
	</div>
</fieldset>
